<h1>Image training app</h1>
<p>This is the foundation of a demo app.  There are many things left to do</p>
<p>To begin, choose a menu item</p>
<p>The latest version of this code is at <a href="http://latest.levelworks.net">http://latest.levelworks.net</a>
<h2>App structure</h2>
<img src="http://images.levelworks.net/training/erd.png", width="80%" />

<p><em>Note that each image has a collection of selections and thence tags under it</em>

        
    
