<h1>Image training app</h1>
<p>This is the foundation of a demo app.  There are many things left to do</p>

<h2>App structure</h2>
<img src="http://images.levelworks.net/erd.png", width="100%" />

<h2>The data structures</h2>
<ul>
    <li><%= link_to "Images (entry point)", images_path %>
        <p><em>Note that each image has a collection of selections under it</em>
    </li>
    <li><%= link_to "Image Tags", image_tags_path %></li>
    <li><%= link_to "(selection) Tags", tags_path %></li>
    <li><%= link_to "Tag types", types_path %></li>
</ul>

        
    
